<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello, my name is Jin Hyeok Noh! But call me Jin.  My interest in management information systems and the internet of things has ultimately led me to Data Science. With a passion for optimization, human behavior, and all things data, I have both the skill set and professional background necessary to dive deep into the data science world. Furthermore, as a driven, self-motivated team player striving to learn constantly, I predict an exciting future in the industry.
            </p>
            <p class="paragraph-text justify-text">
                My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible.
            </p>
            <p class="paragraph-text justify-text">
                I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
